<a href="https://colab.research.google.com/github/abdullahzahid10/Computer-Networking/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Basic print command
print("Hello World!")

#String formatting, string.format(x1, x2...)
print('{} {} {}'.format("Abdullah", "Zahid", "Surrey"))

Hello World!
Abdullah Zahid Surrey

In [3]:
x1 = 100
x2 = 100.0
x3 = 'University of Surrey'
x4 = "University of Surrey" #in python both single quotes and double quotes are used to denote strings. ('' == "")
x5 = True

print(str(x1) + ' is stored as type: ' + str(type(x1)))
print(str(x2) + ' is stored as type: ' + str(type(x2)))
print(str(x3) + ' is stored as type: ' + str(type(x3)))
print(str(x4) + ' is stored as type: ' + str(type(x4)))
print(str(x5) + ' is stored as type: ' + str(type(x5)))

100 is stored as type: <class 'int'>
100.0 is stored as type: <class 'float'>
University of Surrey is stored as type: <class 'str'>
University of Surrey is stored as type: <class 'str'>
True is stored as type: <class 'bool'>

In [4]:
x1 = 100
x2 = int(100.0)
x3 = int("2")

print(type(x1))
print(type(x2))
print(type(x3))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
x1 = 100.0
x2 = float(100)
x3 = float("100")

print(type(x1))
print(type(x2))
print(type(x3))

<class 'float'>
<class 'float'>
<class 'float'>

In [6]:
x1 = "100"
x2 = str(100)
x3 = str(100.0)

print(type(x1))
print(type(x2))
print(type(x3))

<class 'str'>
<class 'str'>
<class 'str'>

In [7]:

#Lists : Ordered, mutable/dynamic, heterogeneous collection.
'''
Ordered: Sequence of insertion/deletion is maintained through integer indices.
Mutable: Modifiable, addition, insertion within the same list.
Heterogeneous: A single list can contain object of different datatypes, ex: int, str, object.
'''

#Creating new list
x = [] #empty list
x = list() #empty list using the list constructor
print('Empty list, x: ', x)

#Adding new values to the list
x.append(1)
print('After appending value in x: ', x)

#Concatenating two lists
x1 = [1, 1, 1]
x2 = [2, 2, 2]
x3 = x1+x2

print("x1: ", x1)
print("x2: ", x2)
print("x1+x2: ", x3)

# you can check the length/number of elements of a list with the len() function
print("x1 length: ", len(x1))
print("x1+x2 length: ", len(x3))

Empty list, x:  []
After appending value in x:  [1]
x1:  [1, 1, 1]
x2:  [2, 2, 2]
x1+x2:  [1, 1, 1, 2, 2, 2]
x1 length:  3
x1+x2 length:  6

In [8]:
#Tuples : Same as lists except immutable/static!
'''
'''

#Creating new tuple
x = () #empty tuple
x = tuple() #empty tuple using the tuple constructor
print('Empty tuple, x: ', x)

#Adding new values to a tuple
# x.append(1) --> NOT ALLOWED, IMMUTABLE!!

#Concatenating two tuples
x1 = (1, 1, 1)
x2 = (2, 2, 2)
x3 = x1+x2

print("x1: ", x1)
print("x2: ", x2)
print("x1+x2: ", x3)

##Why use a tuple though??
# Apart from being immutable, tuples are more memory efficient compared to lists (of particular interest when no. of elements > 10^5).
x_list = list(range(100000))
x_tuple = tuple(range(100000))

print('\n In case of huge number of elements ...')
print('size of list: ', x_list.__sizeof__())
print('size of tuple: ', x_tuple.__sizeof__())

Empty tuple, x:  ()
x1:  (1, 1, 1)
x2:  (2, 2, 2)
x1+x2:  (1, 1, 1, 2, 2, 2)

 In case of huge number of elements ...
size of list:  800040
size of tuple:  800024

In [11]:
#Sets : unordered, Mutable/dynamic but "unique" collection of objects.
'''
set - {value_1, value_2, ...}
'''

#Creating new set
x = set() #empty set using the set constructor
print('Empty set, x: ', x)

# A sample dictionary with key-value pairs
x = {'a', 'b', 'c'}
print('x: ', x)

Empty set, x:  set()
x:  {'b', 'a', 'c'}

In [12]:
def conditional_sample(key):
    print('\nSearch key: '+key)
    if key in ['as', 'sa', 'vd']: #condition:
        print(' Executing true block ...')
        print(' '+key+' exists in the list.')
    else:
        print(' Executing false block ...')
        print(' '+key+' does not exist in the list.')
    print('Conditional block execution complete.')
    print('-'*10)

s = 'as'
conditional_sample(s)

s = 'ad'
conditional_sample(s)

Search key: as
 Executing true block ...
 as exists in the list.
Conditional block execution complete.
----------

Search key: ad
 Executing false block ...
 ad does not exist in the list.
Conditional block execution complete.
----------