<a href="https://colab.research.google.com/github/abdullahzahid10/Computer-Networking/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Basic print command
print("Hello World!")

#String formatting, string.format(x1, x2...)
print('{} {} {} {}'.format("Abdullah", "Zahid", "Surrey", "University"))

Hello World!
Abdullah Zahid Surrey

In [3]:
x1 = 100
x2 = 100.0
x3 = 'University of Surrey'
x4 = "University of Surrey" #in python both single quotes and double quotes are used to denote strings. ('' == "")
x5 = True

print(str(x1) + ' is stored as type: ' + str(type(x1)))
print(str(x2) + ' is stored as type: ' + str(type(x2)))
print(str(x3) + ' is stored as type: ' + str(type(x3)))
print(str(x4) + ' is stored as type: ' + str(type(x4)))
print(str(x5) + ' is stored as type: ' + str(type(x5)))

100 is stored as type: <class 'int'>
100.0 is stored as type: <class 'float'>
University of Surrey is stored as type: <class 'str'>
University of Surrey is stored as type: <class 'str'>
True is stored as type: <class 'bool'>

In [4]:
x1 = 100
x2 = int(100.0)
x3 = int("2")

print(type(x1))
print(type(x2))
print(type(x3))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
x1 = 100.0
x2 = float(100)
x3 = float("100")

print(type(x1))
print(type(x2))
print(type(x3))

<class 'float'>
<class 'float'>
<class 'float'>

In [6]:
x1 = "100"
x2 = str(100)
x3 = str(100.0)

print(type(x1))
print(type(x2))
print(type(x3))

<class 'str'>
<class 'str'>
<class 'str'>

In [7]:

#Lists : Ordered, mutable/dynamic, heterogeneous collection.
'''
Ordered: Sequence of insertion/deletion is maintained through integer indices.
Mutable: Modifiable, addition, insertion within the same list.
Heterogeneous: A single list can contain object of different datatypes, ex: int, str, object.
'''

#Creating new list
x = [] #empty list
x = list() #empty list using the list constructor
print('Empty list, x: ', x)

#Adding new values to the list
x.append(1)
print('After appending value in x: ', x)

#Concatenating two lists
x1 = [1, 1, 1]
x2 = [2, 2, 2]
x3 = x1+x2

print("x1: ", x1)
print("x2: ", x2)
print("x1+x2: ", x3)

# you can check the length/number of elements of a list with the len() function
print("x1 length: ", len(x1))
print("x1+x2 length: ", len(x3))

Empty list, x:  []
After appending value in x:  [1]
x1:  [1, 1, 1]
x2:  [2, 2, 2]
x1+x2:  [1, 1, 1, 2, 2, 2]
x1 length:  3
x1+x2 length:  6

In [8]:
#Tuples : Same as lists except immutable/static!
'''
'''

#Creating new tuple
x = () #empty tuple
x = tuple() #empty tuple using the tuple constructor
print('Empty tuple, x: ', x)

#Adding new values to a tuple
# x.append(1) --> NOT ALLOWED, IMMUTABLE!!

#Concatenating two tuples
x1 = (1, 1, 1)
x2 = (2, 2, 2)
x3 = x1+x2

print("x1: ", x1)
print("x2: ", x2)
print("x1+x2: ", x3)

##Why use a tuple though??
# Apart from being immutable, tuples are more memory efficient compared to lists (of particular interest when no. of elements > 10^5).
x_list = list(range(100000))
x_tuple = tuple(range(100000))

print('\n In case of huge number of elements ...')
print('size of list: ', x_list.__sizeof__())
print('size of tuple: ', x_tuple.__sizeof__())

Empty tuple, x:  ()
x1:  (1, 1, 1)
x2:  (2, 2, 2)
x1+x2:  (1, 1, 1, 2, 2, 2)

 In case of huge number of elements ...
size of list:  800040
size of tuple:  800024

In [11]:
#Sets : unordered, Mutable/dynamic but "unique" collection of objects.
'''
set - {value_1, value_2, ...}
'''

#Creating new set
x = set() #empty set using the set constructor
print('Empty set, x: ', x)

# A sample dictionary with key-value pairs
x = {'a', 'b', 'c'}
print('x: ', x)

Empty set, x:  set()
x:  {'b', 'a', 'c'}

In [12]:
def conditional_sample(key):
    print('\nSearch key: '+key)
    if key in ['as', 'sa', 'vd']: #condition:
        print(' Executing true block ...')
        print(' '+key+' exists in the list.')
    else:
        print(' Executing false block ...')
        print(' '+key+' does not exist in the list.')
    print('Conditional block execution complete.')
    print('-'*10)

s = 'as'
conditional_sample(s)

s = 'ad'
conditional_sample(s)

Search key: as
 Executing true block ...
 as exists in the list.
Conditional block execution complete.
----------

Search key: ad
 Executing false block ...
 ad does not exist in the list.
Conditional block execution complete.
----------

In [2]:
#example of a break statement
fruits = ["apple", "banana", "cherry", "orange", "kiwi"]

for fruit in fruits:
    if fruit == "banana":
        break   # stop the loop if we find the fruit we're looking for
    print(fruit) # avoid printing out any more fruits after "orange"

apple

In [3]:
#example of a continue statement
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        continue   # skip over even numbers
    print(num) #avoid printing out any even numbers and only print out the odd ones.

1
3
5
7
9

In [ ]:
print('\nIterating over a list ... ')
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

print('\nIterating over a string ... ')
name = "John"
for letter in name:
    print(letter)

print('\nIterating over a range of numbers ... ')
for i in range(1, 6):
    print(i)

In [ ]:

print('Summation using a while loop ...')
sum = 0
i = 1
while i <= 5:
    print('\nIterating over '+str(i))
    sum += i
    i += 1
    print('Current sum: '+str(sum))

print("\n\nFinal sum is:", sum)

In [4]:
# Define the 2x2 matrices (in python it is a list of lists)
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]

# Create an empty 2x2 matrix to store the result
C = [[0, 0], [0, 0]]

# Iterate over the rows of A
for i in range(len(A)):
    # Iterate over the columns of B
    for j in range(len(B[0])):
        # Iterate over the rows of B
        for k in range(len(B)):
            # Compute the product of corresponding elements and add to the result matrix
            C[i][j] += A[i][k] * B[k][j]

# Print the result
print(C)

[[19, 22], [43, 50]]

In [6]:
#a simple function definition that adds two numbers
def add_numbers(x, y):
    sum = x + y
    return sum

#passing in values for x and y
result = add_numbers(60, 4)
print(result) # Output: 8

64

In [8]:

class Person:
    '''
    a Person class with two attributes (name and age) and one method (get_details)
    '''
    def __init__(self, name, age): #called when an object is created from the class
        self.name = name
        self.age = age

    def get_details(self):
        print("Name: ", self.name, "\t Age: ", self.age)

In [9]:
# To create an object of the Person class, you can call the constructor method like this:
person1 = Person("Abdullah", 23)

In [10]:
person1.get_details() #

Name:  Abdullah 	 Age:  23

In [11]:
# Here's an example of how to import a module called "math":

import math

result = math.sqrt(25)
print(result)  # Output: 5.0

5.0

In [15]:
import numpy

result = numpy.linspace(0, 184, 5)
print(result)  # Output: [ 0.   2.5  5.   7.5 10. ]

[  0.  46.  92. 138. 184.]